@import '../../../index.scss';

.form-container {
    margin-top: 1rem;

    &--card {
        background-color: white;
        padding: 2.5rem 2rem;
    }
    &--divisor {
        display: flex;
        align-items: center;
        inset: 0;
        position: absolute;
    }
    &--line {
        border-color: $Grey-Light;
        border-top-width: 1px;
        width: 100%;
    }
    &--footer {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        color: $Grey-Medium;
        font-size: 0.9rem;
        line-height: 1.25rem;
        padding: 0 0.5rem;
        margin-top: 1rem;
    }
}