@import '../../../index.scss';

.loadingmodal {
    &--child {
        position: fixed;
        inset: 0;
        background-color: $Grey-Light;
        transition-property: opacity;
        transition-duration: 0.3s;
    }

    &--body {
        display: flex;
        justify-content: center;
        min-height: 100%;
        align-items: center;
        padding: 1rem;
        text-align: center;
    }
}